.table-container {
    height: auto;
    width: 70vw !important;
}

.table-header th {
    font-weight: bold;
}

.active {
    cursor: pointer;
}

.unactive {
    cursor: not-allowed;
    background-color: lightgray;
}

.unactive td {
    color: gray;
}