.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 'translate(-50%, -50%)';
}

.cart-container {
    padding: 30px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-checkout{
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
}

.price-remove {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}